{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        
        <title>{% block title %}Главная страница{% endblock %}</title>
        
        <link rel="stylesheet" href="{% static 'base.css' %}" type="text/css">
        <meta name="description" content="Panorama — A-Frame">
        <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    </head>
    
    <body>
        {% block content %}
            
            <a href="{% url 'base:projects' %}" class="button">Проекты</a>
            <a href="{% url 'base:profile' %}" class="button">Профиль</a>
            <a href="{% url 'base:info' %}" class="button">Инфо</a>
            <br>
            
            <a href="{% url 'base:chemistry' %}" class="button_chem">Химия</a>
            <a href="{% url 'base:math' %}" class="button_math">Математика</a>
            <a href="{% url 'base:physics' %}" class="button_phis">Физика</a>
            <a href="{% url 'base:VR' %}" class="button_VR">VR</a>
            <a href="{% url 'base:geo' %}" class="button_geo">Геоинформатика</a>
            <a href="{% url 'base:informatics' %}" class="button_inform">Информатика</a>

            <div class="sketchfab-embed-wrapper"> <iframe title="Soda Bottle" frameborder="0" 
        allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" allow="autoplay; fullscreen; xr-spatial-tracking" 
        xr-spatial-tracking execution-while-out-of-viewport execution-while-not-rendered web-share width="700" height="500" 
        src="https://sketchfab.com/models/4bf14705154b443f9e1c845d133bf5ec/embed?autostart=1&ui_hint=0"> 
        </iframe> </div>
            
            <p id="title">Погрузись в интересный мир ИНЖЕНЕРНОЙ школы</p>
        {% endblock %}
    </body>
<html>